# Dependencies
node_modules/
**/node_modules/
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backend
auth.db
uploads/
*.pth
*.pt

# Env variables
.env
.env.local
.env.*.local
